<!-- <mat-toolbar color="secondary">
  <mat-toolbar-row>
      <span class="menu-spacer"></span>
      <div>
          <button mat-button>
              <mat-icon>add_box</mat-icon>
          </button>
          <button mat-button >
              <mat-icon>zoom_in</mat-icon>
          </button>
          <button mat-button>
              <mat-icon>zoom_out</mat-icon>
          </button>
          <button mat-button>
              <mat-icon>rotate_left</mat-icon>
          </button>
          <button mat-button>
              <mat-icon>rotate_right</mat-icon>
          </button>
      </div>
  </mat-toolbar-row>
</mat-toolbar> -->
<div style="visibility: hidden;">
<canvas  id="the-canvas" #canvasEl width=1600 height=1></canvas>
</div>
<!-- <app-invoice-viewer></app-invoice-viewer> -->
<app-canvas></app-canvas>