<button type="button" id="rotateLeft" (click)="rotateLeft()">rotate left</button>
<button type="button" id="rotateRight" (click)="rotateRight()">rotate right</button>

<button type="button" id="zoomIn" (click)="zoomIn()">+</button>
<button type="button" id="zoomOut" (click)="zoomOut()">-</button>

<button type="button" id="fitWindow" (click)="fitContents()">fit to window</button>
<button type="button" id="markCenter" (click)="markCenter()">mark center</button>
<div>

</div>
<canvas id="canvas" #canvas width=1300 height=700></canvas>
